.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.controlled{
  height:100%;
  width:100%;
  padding: 0px;
  margin: 0px;
  left: 0px;
  z-index: -1;
  position: absolute;
}

.form{
  z-index: -1;
  padding-left: 450px;

}

.uk-card{
  margin: auto;
  align-content: center;
}


.uk-container{
  padding-top: 200px;
  margin: auto;
  
}

p{
  padding-left: 200;
}

 


 
